<HTML>
	<HEAD>
		<meta http-equiv="x-ua-compatible" content="IE=9">
        <script src="mee/jquery/jquery.min.js"></script>
        <script src="mee/js/mee_src.js"></script>
	</HEAD>

	<BODY>
      <div class="mee">\lim_{x\rightarrow 0,~y \rightarrow 0} f(x, y)</div>
      <div class="mee">\lim_{\substack{x\rightarrow 0\\y\rightarrow 0}} f(x,y)</div>
      <div class="mee">\int_{0}^{1} \frac{x}{\sqrt{a^2 + x^2}} dx = \left[ \sqrt{a^2 + x^2} \right]_{0}^{1}</div>
      <div class="mee">2\pi\sqrt{l/g}</div>
      <div class="mee">\gamma \equiv \frac{1}{\sqrt{1 - v^2/c^2}}</div>
      <div class="mee">\lambda_j = \vec{\lambda} \cdot \vec{e}_j</div>
      <div class="mee">\begin{array}{r l r l} 
u &= \ln x \quad & dv &= x\,dx \\ 
du &= \frac{1}{x}\,dx & v &= \frac{1}{2} x^2 
\end{array}</div>
      <div class="mee">e^x = \sum_{n=0}^\infty \frac{x^n}{n!} = \lim_{n\rightarrow\infty} (1+x/n)^n</div>
      <div class="mee"> 
e^x = \sum_{n=0}^\infty \frac{x^n}{n!} = \lim_{n\rightarrow\infty} (1+x/n)^n 
</div>
        <div class="mee">f(x + \Delta x) = f(x) + f'(x) \Delta x + \varepsilon(\Delta x) \Delta x</div>
        <div class="mee">\begin{multline*} 
\tan^n \theta=\tan^{n-2}\theta \tan^2 \theta\\ =\tan^{n-2}\theta(\sec^2\theta-1)=\tan^{n-2}\theta\sec^2\theta-\tan^{n-2}\theta 
\end{multline*}</div>
        <div class="mee">M^2 = \left( 
\begin{array}{cc} 
M^2_{11} & M^2_{18}\\ 
M^2_{18} & M^2_{88} 
\end{array} 
\right)</div>
        <div class="mee">M^2_{88} = \frac {1}{3} \left(4m^2_{K} - m^2_{\pi}\right)</div>
        <div class="mee">M^2_{11} = m^2_{\eta} + m^2_{\eta'} - M^2_{88}</div>
        <div class="mee">M^2_{18} = - \sqrt{(M^2_{88} - m^2_{\eta})(m^2_{\eta'} - M^2_{88})}</div>
        <div class="mee">\begin{multline*} 
\eta = \eta_{8}\cos\theta_{P} - \eta_{1}\sin\theta_{P}\\ 
\eta' = \eta_{8}\sin\theta_{p} + \eta_{1}\cos\theta_{P} 
\end{multline*}</div>
        <div class="mee">\eta_{1} = \frac {u\bar{u} + d\bar{d} + s\bar{s}}{\sqrt{3}},  
\eta_{8} = \frac {u\bar{u} + d\bar{d} - 2s\bar{s}}{\sqrt{6}}</div>
        <!--<div class="mee">\newcommand{\colv}[2] {\left(\begin{array}{c} #1 \\ #2 \end{array}\right)}\colv{n}{m} = \frac{n!}{(n-m)!m!}</div>-->
        <div class="mee">\binom{n}{m}=\binom{n}{n-m}</div>
        <div class="mee">3^n = \sum_{m=0}^n \left( \binom{n}{m} \cdot \sum_{p=0}^m \binom{m}{p} \right)</div>
        <div class="mee">\begin{align*} 
D^{-\nu}e^{at}&=\frac{1}{\Gamma(\nu)}e^{at}\int_0^t x^{\nu-1}e^{ax}\;dx \\ 
&=E_t(\nu,a) 
\end{align*}</div>
        <div class="mee">x = \frac{-b \pm \sqrt{b^2 - 4 a c}}{2 a}</div>
        <div class="mee">d = \frac{1}{2}a t^2</div>
        <div class="mee">\sum F = ma</div>
        <div class="mee">\lim_{x\rightarrow c} f(x) = L</div>
        <div class="mee">0 \leq |x - c| \leq \delta</div>
        <div class="mee">|f(x) - L| \leq \epsilon</div>
        <div class="mee">F_g = G \frac{m_1 m_2}{d^2}</div>
        <div class="mee">\displaystyle{\int_2^4 {\left[ {8(t - 2)} \right]^{-0.5} dt = } \left[ {\frac{1}{{\sqrt 2 }}(t - 2)^{0.5} } \right]_2^4  = 1}</div>
        <div class="mee">\int_M d\omega =\int_{\partial M}\omega</div>
        <div class="mee">I=\frac{V_{out}-V_{LDR}}{R_1}</div>
        <div class="mee">R_{LDR}=\frac{V_{LDR}R_1}{V_{out}-V_{LDR}}</div>
        <div class="mee">R_1=\sqrt{(10^7-\lim_{R\rightarrow 0})}</div>
        <div class="mee">R=-1\frac{1}{13}(lux)+4\frac{4}{13}</div>
        <div class="mee">R=\frac{160-14(lux)}{13}</div>
        <div class="mee">R=e^{\frac{160-14ln(lux)}{13}}</div>
        <div class="mee">\frac{\pi}{6}(0.3)^{3}(7.07)g=\frac{\pi}{6}(0.3)^{  3}(1.26)g+3\pi(0.88){u}(0.3)</div>
        <div class="mee">i\hbar\frac{\partial\Psi}{\partial t} = \frac{\hbar^2}{2m}\frac{\partial^2\Psi}{\partial x^2} + V\Psi</div>
        <div class="mee">det[\partial^2 + m^2]</div>
        <div class="mee">\gamma \equiv \frac{1}{\sqrt{1 - v^2/c^2}}</div>    </BODY>
</HTML>
