<HTML>
	<HEAD>
		<meta http-equiv="x-ua-compatible" content="IE=9">
        <script src="mee/jquery/jquery.min.js"></script>
        <script src="mee/js/mee_src.js"></script>
	</HEAD>
	<BODY>

        <div class="mee">A\left( t \right) = \frac{{\left\| {\left[ {\vec r_2 \left( t \right) - \vec r_1 \left( t \right)} \right] \times \left[ {\vec r_3 \left( t \right) - \vec r_2 \left( t \right)} \right]} \right\|}}{2}</div>
        <div class="mee">\hat{\xi}(g_0) \longrightarrow \infty \ (g_0 \rightarrow g_0^*),</div>
        <div class="mee">\ln(ab) = \int_1^{a} \frac{1}{t} dt + \int_a^{ab} \frac{1}{t} dt</div>
        <div class="mee">s = 1/2(u+v)t</div>
        <div class="mee">F_g = mg = \frac {mv^2}{R} = \frac {4\pi^2Rm}{T^2} = \frac {GMm}{R^2} = g</div>
        <div class="mee">a = \frac {v^2}{R} = \frac {4\pi^2R}{T^2} = \frac {GM}{R^2} = g</div>
        <div class="mee">G = 6.67\times10^{-11} N m^2 kg^{-2}</div>
        <div class="mee">\Delta{p} = m\Delta{v} = \sum{F\Delta{t}} = I</div>
        <div class="mee">ln(1+x)=\sum_{n=1}^{\infty}\frac{(-1)^{n+1}x^n}{n}\quad\text{for}\quad -1&lt;x&lt;1</div>
        <div class="mee">ln(3/2)=\sum_{n=1}^{\infty}\frac{(-1)^{n+1}}{2^n n}</div>
        <div class="mee">\sum_{i=1}^{\infty}\frac{(-2)^{-i}}{(i+1)}=-1+2ln(3)-2ln(2)</div>
        <div class="mee">\left\{ \begin{gathered} 
  A_n  = \frac{{\left( { - 1} \right)^n  + 2n - 1}} 
{4} \hfill \\ 
  B_n  = \frac{{ - \left( { - 1} \right)^n  + 2n + 1}} 
{4} \hfill \\ 
  C_n  = \frac{{\left( { - 1} \right)^n  + 2n + 3}} 
{4} \hfill \\  
\end{gathered}  \right\}</div>
        <div class="mee">\frac{1}{\pi} = 12 \sum^\infty_{k=0} \frac{(-1)^k (6k)! (13591409 + 545140134k)}{(3k)!(k!)^3 640320^{3k + 3/2}}</div>
        <div class="mee">\frac{d}{dt}\int_a^{b}f(x,t)dx = \int_a^{b}\frac{\partial}{\partial t}f(x,t)dx.</div>
        <div class="mee">\int dx \int dy \exp (-a (x+y)^2 +ib(x-y)) sinc(cx+dy) sinc(dx+cy)</div>
        <div class="mee">\boxed{f\left( x \right) = \sum\limits_{n = 0}^\infty  {\frac{{f^{\left( n \right)} \left( a \right)}}{{n!}}\left( {x - a} \right)^n } ,\left| {x - a} \right| < R}</div>
        <div class="mee">\frac{(m + n)!(a(n + 1) + cm)}{m!(n + 1)!} = (a(n + 1) + cm) \prod_{j=1}^n \frac{m + j}{j + 1}</div>
        <div class="mee">\left( 
\begin{array}{ccc} 1 & 0 & 3 \\ 
0 & -1 & 0 \\ 
-3 & 0 & 1 
\end{array} 
\right) 
\left( 
\begin{array}{c}  x \\ 
y \\ 
z 
\end{array} 
\right)=-1 
\left( 
\begin{array}{c}  x \\ 
y \\ 
z 
\end{array} 
\right)</div>
        <div class="mee">\left( 
\begin{array}{ccc} 1 & 0 & 3 \\ 
0 & -1 & 0 \\ 
-3 & 0 & 1 
\end{array} 
\right) 
\left( 
\begin{array}{c}  x \\ 
y \\ 
z 
\end{array} 
\right)=(1+3i) 
\left( 
\begin{array}{c}  x \\ 
y \\ 
z 
\end{array} 
\right)</div>
        <div class="mee">x+3z=(1+3i)x 
-y=(1+3i)y 
-3x+z=(1+3i)z</div>
        <div class="mee">\mathbf{x}=c_1e^{-t} 
\left( 
\begin{array}{c}  0 \\ 
1 \\ 
0 
\end{array} 
\right)+ 
c_2e^{(1+3i)t} 
\left( 
\begin{array}{c}  1 \\ 
0 \\ 
i 
\end{array} 
\right)+ 
c_3e^{(1-3i)t} 
\left( 
\begin{array}{c}  1 \\ 
0 \\ 
-i 
\end{array} 
\right)</div>
        <div class="mee">\delta =\sqrt{\frac{dv_1^2+dv_2^2+dv_3^2+dv_4^2+dv_  5^2}{n-1}}</div>
        <div class="mee">\Delta\rho_n=6\sqrt{\frac{9\Delta d_n^2m_n^2}{\pi^2d_n^8}+\frac{\Delta m_n^2}{\pi^2d_n^6}}</div>
        <div class="mee">\Delta\eta_n=\frac{2}{9}\sqrt{\frac{4\Delta r_n^2g^2r_n^2(\rho_n-\rho_l)^2}{v_n^2}+\frac{\Delta\rho_n^2g^2r_n^4}{v_  n^2}+\frac{\Delta g^2r_n^4(\rho_n-\rho_l)^2}{v_n^2}+\frac{\Delta\rho_l^2g^2r_n^4}{v_  n^2}+\frac{\Delta v_n^2g^2r_n^4(\rho_n-\rho_l)^2}{v_n^4}}</div>
        <div class="mee">m_{avg}=\frac{19.837+19.839+19.840+19.841+19.840}{  5}=19.84 g</div>
        <div class="mee">v_G=\frac{0.50}{24.25}= 0.0206 m/s</div>
        <div class="mee">\rho_G=0.01984(\frac{3}{4\pi})(\frac{0.02451}{2})^  {-3}= 2573 kg/m^3</div>
        <div class="mee">\eta_G=(\frac{2g}{9(0.0206)})(\frac{0.02451}{2})^2  (2573-1013)= 24.77 kg/ms</div>
        <div class="mee">\delta_G=\sqrt{\frac{-0.19^2+0.11^2+0.07^2+0.19^2+-0.17^2}{5-1}}= 0.1718 mm</div>
        <div class="mee">\Delta\rho_G=6\sqrt{\frac{9(0.00007683)^2(0.01984)  ^2}{\pi^20.02451^8}+\frac{0.00005^2}{\pi^20.02451^  6}}= 25.05 kg/m^3</div>
        <div class="mee">\mathbf{T}[y(x)]=\frac{1}{U}\int_{p_1}^{p_2} e^{y/h}\sqrt{1+(y^{'})^2}dx</div>
        <div class="mee">F(x,y,y^{'})=e^{y/h}\sqrt{1+(y^{'})^2}</div>
        <div class="mee">\frac{\partial F}{\partial y}=\frac{e^{y/h}\sqrt{1+(y^{'})^2}}{h}</div>
        <div class="mee">\frac{\partial F}{\partial y^{'}}=\frac{e^{y/h}y^{'}}{\sqrt{1+(y^{'})^2}}</div>	</BODY>
</HTML>
