<HTML>
	<HEAD>
		<meta http-equiv="x-ua-compatible" content="IE=9">
        <script src="mee/jquery/jquery.min.js"></script>
        <script src="mee/js/mee_src.js"></script>
	</HEAD>
	<BODY>
            <h2>Display Testing</h2>
        <div class="mee">\[xy^2\]</div>
        <div class="mee">\[\sqrt[3]{x}\]</div>
        <div class="mee">\[x_{23x^2y}y^3 \sin x \frac{x^2}{yx_3} \sqrt[3]{x}\]</div>
        <div>Some text with <span class="me">\[x^2_2\]</span> equations</div>
        <div class="mee">\[\sin{}x\]</div>
   
        <div class="mee">e^x = \sum_{n=0}^\infty \frac{x^n}{n!} = \lim_{n\rightarrow\infty} (1+x/n)^n</div>
        <div class="mee">\int_{0}^{1} x dx = \left[ \frac{1}{2}x^2 \right]_{0}^{1} = \frac{1}{2}</div>
        <div class="mee">L = \int_a^b \left( g_{\it ij} \dot u^i \dot u^j \right)^{1/2} dt</div>
        <div class="mee">\iiint f(x,y,z)\,dx\,dy\,dz</div>
        <div class="mee">\lim_{\substack{x\rightarrow 0\\y\rightarrow 0}} f(x,y)</div>
        <div class="mee">\idotsint_{\textrm{paths}} \exp{(iS(x,\dot{x})/\hbar)}\, \mathcal{D}x</div>
        <div class="mee">A \alpha B \beta \Gamma \gamma \Delta \delta \dots \Phi \phi X \chi \Psi \psi \Omega \omega</div>
        <div class="mee">\Gamma^l_{ki} = \frac{1}{2} g^{lj} (\partial_k g_{ij} + \partial_i g_{jk} - \partial_j g_{ki})</div>
        <div class="mee">\sigma_{3} = \left( 
\begin{array*}{cc} 
1 & 0\\ 
0 & -1 
\end{array*} 
\right)</div>
        <div class="mee">\begin{align*} 
u &= \ln x \quad & dv &= x\,dx \\ 
du &= \mbox{$\frac{1}{x}\,dx$} & v &= \mbox{$\frac{1}{2} x^2$} 
\end{align*}</div>
        <div class="mee">\newcommand{\pd}[3]{ \frac{ \partial^{#3}{#1} }{ \partial {#2}^{#3} } } 
 
i \hbar \pd{\Psi}{t}{} = 
- \frac{\hbar^2}{2 m} \ \pd{\Psi}{x}{2} + V \Psi</div>
        <div class="mee">\newcommand{\mean}[1]{{<\!\!{#1}\!\!>}} 
\newcommand{\braket}[2]{{<\!\!{#1|#2}\!\!>}} 
\newcommand{\braketop}[3]{{<\!\!{#1|\hat{#2}|#3}\!\!>}} 
 
\braket{\phi}{\psi} \equiv \int \phi^*(x) \psi(x)\,dx</div>
        <div class="mee">\begin{array*}{l | c|c|c|c |}  & \overline{A}\,\overline{B}&A\,\overline{B}&\overline{A}\, B&A\, B\\ 
\hline 
\overline{C}&0&1&0&0\\ 
\hline C&1&0&1&1\\ 
\hline 
\end{array*}</div>
       <div class="mee">\begin{equation*} 
\begin{split} 
\tau &= \tau_1+\tau_2 = \sqrt{{\Delta t_1}^2-{\Delta x_1}^2}+ 
\sqrt{{\Delta t_2}^2-{\Delta x_2}^2} \\ 
&= \sqrt{(5-0)^2-(4-0)^2}+\sqrt{(10-5)^2-(0-4)^2}\\ 
&= 3+3 = 6 
\end{split} 
\end{equation*}</div>
       <div class="mee">\Gamma^l_{ki} = \frac{1}{2} g^{lj} (\partial_k g_{ij} + \partial_i g_{jk} - \partial_j g_{ki})</div>
       <div class="mee">{\cal L}_R = \sum_{i=1}^G 
        \bar{E}^i_R(i  / \partial 
           -  g_1Y_E   / B)E^i_R + 
        \bar{D}^i_R(i  / D 
           -  g_1Y_D   / B)D^i_R + 
        \bar{U}^i_R(i / D 
           -  g_1Y_U   / B)U^i_R</div>
       <div class="mee">V = \left( \begin{array}{ccc} 
1-\frac{1}{2}\lambda^2 & \lambda & A\lambda^3(\rho-i\eta) \\ 
-\lambda & 1-\frac{1}{2}\lambda^2 & A\lambda^2 \\ 
A\lambda^3(1-\rho-i\eta) & -A\lambda^2 & 1 
\end{array} \right) + {\cal O}(\lambda^4)</div>
       <div class="mee">H_1 = - {\sin \phi - \sin \phi_{\rm s}\over \beta c} \,  
\sum_{j} e V_j \delta 
(\theta -\theta_j) \left(D\,{p_x\over p_0} - D'x \right)</div>
       <div class="mee">i\hbar\frac{\partial\Psi}{\partial t} = \frac{\hbar^2}{2m}\frac{\partial^2\Psi}{\partial x^2} + V\Psi</div>

	</BODY>
</HTML>
